<script type="text/template" id="pokemon-list-item-template">
  <li class=poke-list-item data-id=<%%= pokemon.id %>>
    name: <%%= pokemon.get("name") %> <br>
    poke-type: <%%= pokemon.get("poke_type") %> <br>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>

    <ul class="pokemon-attributes">
      <%% _.each(["name", "poke_type", "attack", "defense", "moves"], function(attr) { %>
        <li> <%%= attr + " : " + pokemon.get(attr) %> </li>
      <%% }) %>
    </ul>

  </div>

  <h3>Toys</h3>
  <ul class="toys"></ul>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item" data-id=<%%= toy.id %> data-pokemon-id=<%%= toy.get("pokemon_id") %>>
    <%% _.each(['name', 'happiness', 'price'], function(attr) { %>
      <%%= attr + " : " + toy.get(attr) %>
    <%% }) %>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
</script>

<script type="text/template" id="pokemon-form-template">
</script>
