<script type="text/template" id="pokemon-list-item-template">
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>

    <ul class="pokemon-attributes">
      <%% _.each(["name", "poke_type", "attack", "defense", "moves"], function(attr) { %>
        <li> <%%= attr + " : " + pokemon.get(attr) %> </li>
      <%% }) %>
    </ul>
  </div>
</script>

<script type="text/template" id="toy-list-item-template">
</script>

<script type="text/template" id="toy-detail-template">
</script>

<script type="text/template" id="pokemon-form-template">
</script>
