<script type="text/template" id="pokemon-list-item-template">
  <li class=poke-list-item data-id=<%%= pokemon.id %>>
    name: <%%= pokemon.get("name") %> <br>
    poke-type: <%%= pokemon.get("poke_type") %> <br>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>

    <ul class="pokemon-attributes">
      <%% _.each(["name", "poke_type", "attack", "defense", "moves"], function(attr) { %>
        <li> <%%= attr + " : " + pokemon.get(attr) %> </li>
      <%% }) %>
    </ul>

  </div>

  <h3>Toys</h3>
  <ul class="toys"></ul>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item" data-id="<%%= toy.id %>" data-pokemon-id="<%%= toy.get("pokemon_id")%>">
    <%% _.each(['name', 'happiness', 'price'], function(attr) { %>
      <%%= attr + " : " + toy.get(attr) %>
    <%% }) %>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
  <div class="detail">
    <img src="<%%= toy.escape('image_url')%>"><br>
    <ul class="toy-attributes">
      <%% _.each(["name", "happiness", "price"], function(attr) { %>
        <li> <%%= attr + " : " + toy.get(attr) %> </li>
      <%% }) %>
    </ul>
    <select class="pokemon-dropdown" data-pokemon-id="<%%= toy.get('pokemon_id') %>" data-toy-id="<%%= toy.id %>" >
      <%% allPokemon.each( function(pokemon) { %>
        <option value="<%%=pokemon.id %>" id="<%%=pokemon.id %>">
          <%%= pokemon.get('name') %>
        </option>
      <%% }) %>
    </select>
  </div>
</script>

<script type="text/template" id="pokemon-form-template">
</script>
